<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


    <link rel="stylesheet" href="{% static 'blog/style.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <div class="format">
        <header>
            <ul>
                <li><a href="{% url 'home-page' %}" class="logo">HOME</a></li>
            </ul>
            <nav class="navbar">
    
                <!-- <ul> -->
                    
                            
                    <!-- <li><a href="{%url 'resource-list'%}">resources</a></li>
                    <li><a href="{%url 'article-list'%}">articles</a></li> -->
                <a href="{%url 'resource-list'%}">resources</a>
                <a href="{%url 'article-list'%}">commentary</a>
                <a href="{%url 'involvement-list'%}">get involved</a>
                <!-- <a href="{%url 'recent-articles' %}">recent articles</a> -->
                <!-- <a href="{%url 'article-list'%}">articles</a> -->

                <!-- <div class="dropdown">
                    <button class="dropbtn"><a href="{%url 'article-list'%}">articles</a>
                        <i class="fa fa-caret-down" ></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{%url 'recent-articles' %}">recent articles</a>



                    </div>
                </div> -->
                <!-- <li><a href="{%url 'article-queue' %}"> see unauthenticated articles</a></li> -->
                  
                <!-- </ul> -->
            
            
            </nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{%url 'add-post'%}">add post!</a></li>
                <li><a href="{%url 'logout'%}">logout</a></li>
    
    
    
                {% else%}
                <li><a href="{%url 'login'%}" >login</a></li>

                <li><a href="{%url 'register'%}" class="clear">register</a></li>
                
            {% endif %}
            </ul>
    
        </header>

    </div>
  
   
   
    {% if messages%}
        {% for message in messages%}
        <div>{{message}}</div>
        {% endfor%}
    {% endif %}

    {%block content%}
    <h1>HELOO WORLD</h1>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>