{% extends 'blog/base.html'%}
{% block content%}
<h1>RESOURCES</h1>

<div class="cent">

    {% for resource in object_list %}
            <div class="card">
                <h2>{{resource.title}}</h2>
                <p class="card-text text-muted h6">{{ resource.created_on}} </p>
                <p class="card-text">{{resource.body|slice:":200" | safe}}</p>
                <a href="{% url 'resource-detail' resource.slug %}" class="linkbutton">Read more</a>

            </div>
           

    {% endfor %}
</div>




{% endblock %}