*{
    color:#023447;

}
li{
    list-style-type: none;
    margin: 0.6vh 1.5vw;
    padding: 20px 0px;
    display: inline-block;
    font-weight: 500;
    color:#023447;




}
/* nav{
    color: #023447;
} */
body{
    background-color: #BCE2F1;
    font-family: 'Noto Sans', sans-serif;

}
header{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    font-size: 20px;
    
   
}

button, .linkbutton{
    background-color: #023447;
    color:#BCE2F1;
    padding: 1vh 1vw;
    border-radius: 25px;
}
/* a.linkbutton:hover{
    background-color: red;
} */
.content{
    margin-top: 1vh;

}
h1{

    margin-top: 2vh;
    text-align: center;
}
.homebutton{
    background-color: #3895BA;
    color:#BCE2F1;
    padding: 2vh 2vw;
    border-radius: 25px;
    font-size: 3vh;

}
.holder{

    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;


}
a{
    text-decoration: none;
}
a.clear{
    border: 2px  solid #023447;
    background-color: transparent;
    padding: 1vh 2vw;
    border-radius: 25px;
   
}
a.clear:hover{
    background-color: #023447;
    color: #BCE2F1;
}
.logo{
    font-size: 3vh;
}
/* a:hover{
    color: #3895BA;
} */
.homebutton-clear{
    border: 2px  solid #3895BA;

    background-color: transparent;
    padding: 2vh 2vw;
    border-radius: 25px;
    font-size: 3vh;

}
a.homebutton-clear:hover{
    background-color: #3895BA;
    color: #BCE2F1;


}
.image{
    margin-left: 1vw;

}
.navbar {
    overflow: hidden;
  }
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
    .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* 


/* .navbar{

    background-color: #3895BA;
    height: 10vh

}
ul{
    display: flex;




}
a{
    color: #023447;
}


.container{
    margin: auto;
    width: 60%;
}

.elements{
    float: right;
    background-color: red;
}
.idk{
    display: flex;

}
.mx-auto{
    background-color: white;
}
.right{
    float: right;
}
.navbar{
    display: flex;
    justify-content: space-between;
} */